<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                    <img class="header-image" src="logo.png">
                    <li class="link"><a class="link" routerLink="/home">Home</a></li>
                    <li class="active"><a class="link" routerLink="/myRequest" routerLinkActive="active">My Requests</a></li>
                    <li class="link"><a class="link" routerLink="/allRequests" routerLinkActive="active">All requests</a></li>
                    <li class="link"><a class="link" routerLink="/byHost">Browse by device</a></li>
                    <li class="link"><a class="link" routerLink="/approve" routerLinkActive="active">My Approvals</a></li>
                    <li class="link"><a class="link" routerLink="/new">New Request</a></li>
                    <li><a class="link" routerLink="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Pankaj</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
        </div>
</nav>
<div class="container-fluid">
    <div class="jumbotron">
        <div class="header">APN SELF SERVE PORTAL - My Requests</div>
        <div class="container-fluid">
            <div class="col-md-4">
                <form #searchForm="ngForm">
                    <div class="form-group">
                        <label for="filter">Search by Platform</label>
                        <ng-select
                                [options]="options_platform"
                                (selected)="updateFilter($event)"
                                (deselected)="onDeselected($event)"
                                [allowClear]="true">
                        </ng-select>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <h4>Request Summary</h4>
                <ngx-datatable class="material table table-striped"
                               [rows]="rows"
                               [columns]="columns"
                               [sortType]="'multi'"
                               [columnMode]="'force'"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [rowHeight]="50"
                               [scrollbarH]="true"
                               [scrollbarV]="true"
                               [selected]="selected"
                               [selectionType]="'single'"
                               (select)='onSelect($event)'
                               [limit]="2">
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="displayRequestDetails">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="col-md-12">
                <h4>Request Details</h4>
                <ngx-datatable class="material table table-striped"
                               [rows]="req_detail_rows"
                               [columns]="req_detail_columns"
                               [sortType]="'multi'"
                               [columnMode]="'force'"
                               [headerHeight]="50"
                               [footerHeight]="50"
                               [rowHeight]="50"
                               [scrollbarH]="true"
                               [scrollbarV]="true"
                               [selected]="selected"
                               [selectionType]="'single'"
                               (select)='onSelect($event)'
                               [limit]="2">
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>