<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <img class="header-image" src="logo.png">
            <li class="link"><a class="link" routerLink="/home">Home</a></li>
            <li class="link"><a class="link" routerLink="/myRequest">My Requests</a></li>
            <li class="link"><a class="link" routerLink="/allRequests" routerLinkActive="active">All requests</a></li>
            <li class="link"><a class="link" routerLink="/byHost">Browse by device</a></li>
            <li class="link"><a class="link" routerLink="/approve">My Approvals</a></li>
            <li class="active"><a class="link" routerLink="/new">New Request</a></li>
            <li><a class="link" routerLink="/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Pankaj</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="jumbotron">
        <div *ngIf="!showPreviewPanel" class="container-fluid">
            <div class="header">APN SELF SERVE PORTAL - New Request</div>
            <div [hidden]="submitted">
                <form (ngSubmit)="continue()" #requestForm="ngForm">
                    <div class="form-group row">
                        <label for="projectName" class="col-sm-2 col-form-label">Project Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" [(ngModel)]="model.projectName" id="projectName"
                                   name="projectName" required placeholder="Project Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Project Description*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="description"
                                   [(ngModel)]="model.description" name="description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="manager" class="col-sm-2 col-form-label">Project Manager*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="manager"
                                   [(ngModel)]="model.manager" name="manager">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Project Architect*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="architect"
                                   [(ngModel)]="model.architect" name="architect">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="owner" class="col-sm-2 col-form-label">Project Owner*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="owner"
                                   [(ngModel)]="model.owner" name="owner">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="platform" class="col-sm-2 col-form-label">Platform Name*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="platform"
                                   [(ngModel)]="model.platform" name="platform">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="oneUpManager" class="col-sm-2 col-form-label">1-up Manager*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="oneUpManager"
                                   [(ngModel)]="model.oneUpManager" name="platform">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="CapEx" class="col-sm-2 col-form-label">NWA (CapEx/OpEx)*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="CapEx"
                                   [(ngModel)]="model.CapEx" name="CapEx">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="costCentre" class="col-sm-2 col-form-label">Cost Centre of Business*</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="costCentre"
                                   [(ngModel)]="model.costCentre" name="costCentre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="location" required [(ngModel)]="model.location"
                                    name="location">
                                <option *ngFor="let location of locations" [value]="location">{{location}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="speed" class="col-sm-2 col-form-label">Speed of interface</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="speed" required [(ngModel)]="model.speed" name="speed">
                                <option *ngFor="let speed of speeds" [value]="speed">{{speed}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="portType" class="col-sm-2 col-form-label">Port Type</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="portType" required [(ngModel)]="model.portType"
                                    name="portType">
                                <option *ngFor="let portType of portTypes" [value]="portType">{{portType}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="port" class="col-sm-2 col-form-label"># of Ports</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="port" required [(ngModel)]="model.port" name="port">
                                <option *ngFor="let port of ports" [value]="port">{{port}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="access" class="col-sm-2 col-form-label">Access/Trunk</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="access" required [(ngModel)]="model.access" name="access">
                                <option *ngFor="let access of accessType" [value]="access">{{access}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="platformType" class="col-sm-2 col-form-label">Target Platform</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="platformType" required [(ngModel)]="model.platformType"
                                    name="platformType">
                                <option *ngFor="let platformType of platforms" [value]="platformType">{{platformType}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Continue</button>
                    <button type="button" class="btn btn-secondary" (click)="requestForm.reset()">Reset</button>
                </form>
            </div>
        </div>
        <div *ngIf="showPreviewPanel" class="container-fluid">
            <div class="header">APN SELF SERVE PORTAL - New Request</div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Project Details</div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Project Name</label>
                            <div class="col-sm-4">
                                {{model.projectName}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Project Description</label>
                            <div class="col-sm-4">
                                {{model.description}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Project Manager</label>
                            <div class="col-sm-4">
                                {{model.manager}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Project Architect</label>
                            <div class="col-sm-4">
                                {{model.architect}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Business Owner</label>
                            <div class="col-sm-4">
                                {{model.owner}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Platform Name</label>
                            <div class="col-sm-4">
                                {{model.platform}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">1-up Manager</label>
                            <div class="col-sm-4">
                                {{model.oneUpManager}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Details about Charging</div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">NWA (CapEx/OpEx)</label>
                            <div class="col-sm-4">
                                {{model.CapEx}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Cost Centre of Business</label>
                            <div class="col-sm-4">
                                {{model.costCentre}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Technical Details</div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Location</label>
                            <div class="col-sm-4">
                                {{model.location}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Speed of Interface</label>
                            <div class="col-sm-4">
                                {{model.speed}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Port Type</label>
                            <div class="col-sm-4">
                                {{model.portType}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label"># of Ports</label>
                            <div class="col-sm-4">
                                {{model.port}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Access/Trunk</label>
                            <div class="col-sm-4">
                                {{model.access}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="projectName" class="col-sm-2 col-form-label">Target Platform</label>
                            <div class="col-sm-4">
                                {{model.platformType}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty-row"></div>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                <button type="button" class="btn btn-secondary" (click)="previous();">Back</button>
            </div>
        </div>
    </div>
</div>